<main>
    <section class="bg-blue-700">
        <article class="container mx-auto flex justify-center">
            <div class="relative flex justify-center items-center text-white">
                <div class="w-56 h-16 bg-yellow-500 relative">
                    <div class="absolute right-201 top-0 bottom-0 my-auto h-45 w-45 bg-blue-700 transform rotate-45">
                    </div>
                    <div
                        class="absolute left-201 border-t border-r top-0 bottom-0 my-auto h-45 w-45 bg-yellow-500 transform rotate-45">
                    </div>
                </div>
                <div class="absolute right-0 top-0 bottom-0 flex justify-center items-center">
                    <i class="px-2 fas fa-subway"></i>
                    <div>
                        <div>
                            <span class="text-base font-semibold">Hà Nội</span>
                            <span class="px-2"><i class="fas fa-arrow-right"></i></span>
                            <span class="text-base font-semibold">Hải Phòng</span>
                        </div>
                        <span class="ml-5">Lựa chọn tàu</span>
                    </div>
                </div>
            </div>
            <!-- tìm tàu -->
            <div class="relative flex justify-center items-center ml-31 ">
                <div class="w-56 h-16 bg-blue-700 relative">
                    <div
                        class="absolute left-201 border-t border-r top-0 bottom-0 my-auto h-45 w-45 bg-blue-700 transform rotate-45">
                    </div>
                </div>
                <div class="absolute top-0 bottom-0 flex justify-center items-center text-white font-semibold">
                    <i class="fas fa-memory pr-2"></i>
                    <span class="text-white font-semibold">Lựa chọn toa tàu</span>
                </div>
            </div>
            <!-- tìm toa -->
            <div class="relative flex justify-center items-center ml-31">
                <div class="w-56 h-16 bg-blue-700 relative">
                    <div
                        class="absolute left-201 border-t border-r top-0 bottom-0 my-auto h-45 w-45 bg-blue-700 transform rotate-45">
                    </div>
                </div>
                <div class="absolute top-0 bottom-0 flex justify-center items-center text-white font-semibold">
                    <!-- <i class="fas fa-chair pr-2"></i> -->
                    <i class="material-icons pr-2">airline_seat_recline_normal</i>
                    <span class="font-semibold">Lựa chọn chỗ ngồi</span>
                </div>
            </div>
            <!-- tìm ghế -->
            <div class="relative flex justify-center items-center ml-31">
                <div class="w-56 h-16 bg-blue-700 relative">
                    <div
                        class="absolute left-201 border-t border-r top-0 bottom-0 my-auto h-45 w-45 bg-blue-700 transform rotate-45">
                    </div>
                </div>
                <div class="absolute top-0 bottom-0 flex justify-center items-center text-white font-semibold">
                    <i class="fas fa-user-lock pr-2"></i>
                    <span class="font-semibold">Thông tin khách hàng</span>
                </div>
            </div>
            <!-- thông tin khách hàng -->
            <div class="relative flex justify-center items-center ml-31">
                <div class="w-56 h-16 bg-blue-700 relative">
                    <div
                        class="absolute left-201 border-t border-r top-0 bottom-0 my-auto h-45 w-45 bg-blue-700 transform rotate-45">
                    </div>
                </div>
                <div class="absolute top-0 bottom-0 flex justify-center items-center text-white font-semibold">
                    <i class="far fa-credit-card pr-2"></i>
                    <span class="font-semibold">Thanh toán</span>
                </div>
            </div>
            <!-- Hoàn thành -->
        </article>
    </section>
    <section class="text-white mt-10 container mx-auto flex justify-between">
        <article class="bg-blue-700 w-[530px] py-1 px-2 text-xl">
            <span>Chiều đi: ngày </span>
            <span>05/07/2021 từ </span>
            <span>Tháp Chàm đến </span>
            <span>Sài Gòn</span>
        </article>
        <article>
            <button><a [routerLink]="['/']"
                    class="bg-blue-600 text-white py-2 px-8 text-xl rounded-md border border-blue-600 hover:bg-white hover:text-blue-600">Đổi
                    tìm
                    kiếm</a></button>
        </article>
    </section>
    <form class="my-10 container mx-auto space-y-6 border p-5">
        <article class="grid grid-cols-8 gap-5 border p-5 shadow-lg rounded-md">
            <span class="col-span-1 font-semibold block my-auto mx-auto">SQN1</span>
            <div class="col-span-3">
                <div class="flex justify-between">
                    <div class="space-x-2 text-lg">
                        <span>05/07</span>
                        <span>20:01</span>
                    </div>
                    <i class="material-icons">subway</i>
                    <div class="space-x-2 text-lg">
                        <span>06/07</span>
                        <span>04:07</span>
                    </div>
                </div>
                <p class="text-black text-opacity-50 border-dashed w-full border my-2"></p>
                <div class="flex justify-between">
                    <span class="font-semibold text-xl">Tháp Chàm</span>
                    <span>8 giờ 6 phút</span>
                    <span class="font-semibold text-xl">Sài Gòn</span>
                </div>
            </div>
            <div class="mx-auto text-center space-y-4">
                <span class="block font-semibold text-xl">Chỗ còn</span>
                <span class="block text-xl">226</span>
            </div>
            <div class="mx-auto text-center space-y-3">
                <span class="block font-semibold text-xl">Số người</span>
                <div class="border rounded-md flex justify-center items-center">
                    <button class="border-r py-1 px-2 text-gray-300 text-xs focus:outline-none"><i
                            class="fas fa-minus px-2"></i></button>
                    <input type="text" value="1"
                        class="my-1 w-14 text-center border-none focus:outline-none focus:ring-white">
                    <button class="border-l py-1 px-3 text-xs focus:outline-none text-black"><i
                            class="fas fa-plus px-2"></i></button>
                </div>
            </div>
            <div class="mx-auto text-center space-y-4">
                <span class="block font-semibold text-xl">Giá vé</span>
                <span class="block text-xl">226.000 ₫/khách</span>
            </div>
            <button><a class="px-10 py-2 bg-red-500 rounded-md text-white text-xl" [routerLink]="['/car']">Đặt
                    vé</a></button>
        </article>
        <!-- item -->
        <article class="grid grid-cols-8 gap-5 border p-5 shadow-lg rounded-md">
            <span class="col-span-1 font-semibold block my-auto mx-auto">SQN2</span>
            <div class="col-span-3">
                <div class="flex justify-between">
                    <div class="space-x-2 text-lg">
                        <span>05/07</span>
                        <span>20:01</span>
                    </div>
                    <i class="material-icons">subway</i>
                    <div class="space-x-2 text-lg">
                        <span>06/07</span>
                        <span>04:07</span>
                    </div>
                </div>
                <p class="text-black text-opacity-50 border-dashed w-full border my-2"></p>
                <div class="flex justify-between">
                    <span class="font-semibold text-xl">Tháp Chàm</span>
                    <span>8 giờ 6 phút</span>
                    <span class="font-semibold text-xl">Sài Gòn</span>
                </div>
            </div>
            <div class="mx-auto text-center space-y-4">
                <span class="block font-semibold text-xl">Chỗ còn</span>
                <span class="block text-xl">226</span>
            </div>
            <div class="mx-auto text-center space-y-3">
                <span class="block font-semibold text-xl">Số người</span>
                <div class="border rounded-md flex justify-center items-center">
                    <button class="border-r py-1 px-2 text-gray-300 text-xs focus:outline-none"><i
                            class="fas fa-minus px-2"></i></button>
                    <input type="text" value="1"
                        class="my-1 w-14 text-center border-none focus:outline-none focus:ring-white">
                    <button class="border-l py-1 px-3 text-xs focus:outline-none text-black"><i
                            class="fas fa-plus px-2"></i></button>
                </div>
            </div>
            <div class="mx-auto text-center space-y-4">
                <span class="block font-semibold text-xl">Giá vé</span>
                <span class="block text-xl">226.000 ₫/khách</span>
            </div>
            <button><a class="px-10 py-2 bg-red-500 rounded-md text-white text-xl" [routerLink]="['/car']">Đặt
                    vé</a></button>
        </article>
        <article class="grid grid-cols-8 gap-5 border p-5 shadow-lg rounded-md">
            <span class="col-span-1 font-semibold block my-auto mx-auto">SQN3</span>
            <div class="col-span-3">
                <div class="flex justify-between">
                    <div class="space-x-2 text-lg">
                        <span>05/07</span>
                        <span>20:01</span>
                    </div>
                    <i class="material-icons">subway</i>
                    <div class="space-x-2 text-lg">
                        <span>06/07</span>
                        <span>04:07</span>
                    </div>
                </div>
                <p class="text-black text-opacity-50 border-dashed w-full border my-2"></p>
                <div class="flex justify-between">
                    <span class="font-semibold text-xl">Tháp Chàm</span>
                    <span>8 giờ 6 phút</span>
                    <span class="font-semibold text-xl">Sài Gòn</span>
                </div>
            </div>
            <div class="mx-auto text-center space-y-4">
                <span class="block font-semibold text-xl">Chỗ còn</span>
                <span class="block text-xl">226</span>
            </div>
            <div class="mx-auto text-center space-y-3">
                <span class="block font-semibold text-xl">Số người</span>
                <div class="border rounded-md flex justify-center items-center">
                    <button class="border-r py-1 px-2 text-gray-300 text-xs focus:outline-none"><i
                            class="fas fa-minus px-2"></i></button>
                    <input type="text" value="1"
                        class="my-1 w-14 text-center border-none focus:outline-none focus:ring-white">
                    <button class="border-l py-1 px-3 text-xs focus:outline-none text-black"><i
                            class="fas fa-plus px-2"></i></button>
                </div>
            </div>
            <div class="mx-auto text-center space-y-4">
                <span class="block font-semibold text-xl">Giá vé</span>
                <span class="block text-xl">226.000 ₫/khách</span>
            </div>
            <button><a class="px-10 py-2 bg-red-500 rounded-md text-white text-xl" [routerLink]="['/car']">Đặt
                    vé</a></button>
        </article>
        <article class="grid grid-cols-8 gap-5 border p-5 shadow-lg rounded-md">
            <span class="col-span-1 font-semibold block my-auto mx-auto">SQN4</span>
            <div class="col-span-3">
                <div class="flex justify-between">
                    <div class="space-x-2 text-lg">
                        <span>05/07</span>
                        <span>20:01</span>
                    </div>
                    <i class="material-icons">subway</i>
                    <div class="space-x-2 text-lg">
                        <span>06/07</span>
                        <span>04:07</span>
                    </div>
                </div>
                <p class="text-black text-opacity-50 border-dashed w-full border my-2"></p>
                <div class="flex justify-between">
                    <span class="font-semibold text-xl">Tháp Chàm</span>
                    <span>8 giờ 6 phút</span>
                    <span class="font-semibold text-xl">Sài Gòn</span>
                </div>
            </div>
            <div class="mx-auto text-center space-y-4">
                <span class="block font-semibold text-xl">Chỗ còn</span>
                <span class="block text-xl">226</span>
            </div>
            <div class="mx-auto text-center space-y-3">
                <span class="block font-semibold text-xl">Số người</span>
                <div class="border rounded-md flex justify-center items-center">
                    <button class="border-r py-1 px-2 text-gray-300 text-xs focus:outline-none"><i
                            class="fas fa-minus px-2"></i></button>
                    <input type="text" value="1"
                        class="my-1 w-14 text-center border-none focus:outline-none focus:ring-white">
                    <button class="border-l py-1 px-3 text-xs focus:outline-none text-black"><i
                            class="fas fa-plus px-2"></i></button>
                </div>
            </div>
            <div class="mx-auto text-center space-y-4">
                <span class="block font-semibold text-xl">Giá vé</span>
                <span class="block text-xl">226.000 ₫/khách</span>
            </div>
            <button><a class="px-10 py-2 bg-red-500 rounded-md text-white text-xl" [routerLink]="['/car']">Đặt
                    vé</a></button>
        </article>
    </form>
</main>